.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 40px;
    background-color: #fafaf8;
  }
  
  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .left-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 15px;
    border: 2px solid #9f6d65;
    border-radius: 30px 0 0 30px;
    font-size: 1rem;
    color: #9f6d65;
  }
  
  .search-bar button {
    padding: 15px;
    background-color: #9f6d65;
    border: none;
    border-radius: 0 30px 30px 0;
    color: #fafaf8;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .search-bar button i {
    font-size: 1.2rem;
  }
  
  .search-bar button:hover {
    background-color: #7f4d45;
  }
  
  .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .image-collage img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
  }

  