

<!-- Contenido principal de la página de inicio -->
<div class="home-container">
  <div class="left-section">
    <h1>Inspírate con todas las localidades</h1>
    <select [(ngModel)]="selectedPropertyId" (change)="onPropertySelect()">
      <option *ngFor="let property of properties" [value]="property.id">
        {{ property.name }}
      </option>
    </select>
  </div>
  <div class="right-section">
    <div class="image-collage">
      <img src="assets/image2.jpg" alt="2">
      <img src="assets/image3.jpg" alt="3">
      <img src="assets/image1.jpg" alt="1">
    </div>
  </div>
</div>
