.footer{
    background-color: #9f6d65;
    color: #fafaf8;
    font-family: serif;
    padding: 20px 0;
    text-align: center;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  flex-wrap: wrap;
  
}


.social-icons {
    display: flex;
    gap: 10px;
}


.social-icons a {
  margin: 0 50px;
}


.social-icons img {
  width: 50px;
  height: 50px;
}


.suggestions {
  text-align: right;
}


.suggestions p {
  margin: 0;
}

.suggestions a {
  color: #fafaf8;
  text-decoration: underline;
}

.footer p {
  font-size: 0.9em;
  margin-top: 10px;
}
.footer-logo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-logo img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
      padding: 0 20px;
    }
    .suggestions {
        text-align: center;
        margin-top: 10px;
    }
    
  }