<footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="assets/WhitePaoLogo.png" alt="Arrienda Tu Finca">
        <p>Arrienda Tu Finca</p>
      </div>
  
      <div class="social-icons">
          <a href="#"><img src="assets/instagram-icon.svg" alt="Instagram"></a>
          <a href="#"><img src="assets/facebook-icon.svg" alt="Facebook"></a>
          <a href="#"><img src="assets/x-icon.svg" alt="X"></a>
          <a href="#"><img src="assets/whatsapp-icon.svg" alt="WhatsApp"></a>
      </div>
  
      <div class="suggestions">
        <p>¿Tienes alguna sugerencia?</p>
        <p>Envíanos un correo a <a href="mailto:Arriendatufinca@gmail.com">Arriendatufinca.com</a></p>
      </div>
      </div>
  
      <div class="footer-bottom">
      <p>© 2024 All rights reserved</p>
      </div>
  </footer>