<header>
  <nav class="navbar">
    <div class="logo">
      <img src="assets/PaoLogo.svg" alt="Arrienda Tu Finca">
    </div>

    <ul class="nav-links">
      <li><a href="/home2">Inicio</a></li>
    </ul>

    <div class="auth-buttons">
      <img src="assets/profile-picture.jpg" alt="Profile" class="profile-pic" (click)="toggleMenu()">
      <div class="dropdown-menu" *ngIf="menuVisible">
        <div class="profile-info">
          <img src="assets/profile-picture.jpg" alt="Profile" class="profile-pic-large">
          <p>{{ userName }}</p>
        </div>
        <button (click)="viewUser()">Ver Usuario</button>
        <button (click)="editUser()">Editar Usuario</button>
        <button (click)="logout()">Cerrar Sesión</button>
        <button (click)="createProperty()">Crear Propiedad</button>
      </div>
    </div>
  </nav>
</header>
