<div class="property-description">
  <div *ngIf="property">
    <h1>{{ property.name }}</h1>
    <img [src]="property?.imageIds" alt="{{ property?.name }}" />
    <p>{{ property.description }}</p>
    <ul>
      <li><strong>Address:</strong> {{ property?.address }}</li>
      <li><strong>Price per Night:</strong> {{ property?.pricePerNight }}</li>
      <li><strong>Rooms:</strong> {{ property?.amountOfRooms }}</li>
      <li><strong>Bathrooms:</strong> {{ property?.amountOfBathrooms }}</li>
      <li><strong>Residents:</strong> {{ property?.amountOfResidents }}</li>
      <li><strong>Pet Friendly:</strong> {{ property?.isPetFriendly ? 'Yes' : 'No' }}</li>
      <li><strong>Pool:</strong> {{ property?.hasPool ? 'Yes' : 'No' }}</li>
      <li><strong>Grill:</strong> {{ property.hasGrill ? 'Yes' : 'No' }}</li>
      <li><strong>Owner Email:</strong> {{ property.ownerEmail }}</li>
      <li><strong>Rating:</strong> {{ property.rating }}</li>
    </ul>
    <button (click)="makeReservation()" class="reserve-button">Hacer Reserva</button>
    <app-comments *ngIf="property?.id" [propertyId]="property.id"></app-comments>
    <app-write-comment 
        *ngIf="property?.id && userEmail" 
        [propertyId]="property.id" 
        [requestId]="requestId || 0" 
        [userEmail]="userEmail">
    </app-write-comment>
  </div>
</div>