.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #9f6d65; /* Borde color café */
    border-radius: 30px;
    overflow: hidden; /* Para que el borde redondeado aplique en toda la barra */
    width: 600px; /* Ajusta el ancho según lo necesites */
    height: 50px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    font-size: 1rem;
    color: #000;
    height: 40px;
    outline: none; /* Remueve el borde azul al hacer clic */
  }
  
  .search-bar input::placeholder {
    color: #9f6d65; /* Color del texto placeholder */
    opacity: 0.5; /* Opcional: para hacer que el placeholder se vea tenue */
  }
  
  .search-bar button {
    width: 50px;
    height: 50px;
    background-color: #9f6d65;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white; /* Color de la lupa café */
    overflow: hidden;
    border-radius: 100px;
  }
  
  .search-bar button i {
    font-size: 1.2rem; /* Tamaño de la lupa */
  }
  