<div *ngFor="let solicitud of solicitudes">
  <h3>{{ solicitud.requesterEmail }}</h3>
  <p>Fecha y hora de solicitud: {{ solicitud.requestDateTime }}</p>
  <p>Fecha de llegada: {{ solicitud.arrivalDate }}</p>
  <p>Fecha de salida: {{ solicitud.departureDate }}</p>
  <p>Estado: 
    <span *ngIf="solicitud.approved">Aprobada</span>
    <span *ngIf="solicitud.rejected">Rechazada</span>
    <span *ngIf="solicitud.canceled">Cancelada</span>
    <span *ngIf="!solicitud.approved && !solicitud.rejected && !solicitud.canceled">Pendiente</span>
  </p>

  <button *ngIf="mostrarBotonAceptarCancelar(solicitud)" (click)="aceptarSolicitud(solicitud)">Aceptar</button>
  <button *ngIf="mostrarBotonAceptarCancelar(solicitud)" (click)="cancelarSolicitud(solicitud)">Cancelar</button>
</div>