<!-- Componente de encabezado -->
<app-header></app-header>

<!-- Contenido principal de la página de inicio -->
<div class="home-container">
  <div class="left-section">
    <h1>Inspírate con todas las localidades</h1>
    <div class="search-bar">
      <input type="text" placeholder="Find inspiring places">
      <button><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="right-section">
    <div class="image-collage">
      <img src="assets/image2.jpg" alt="2">
      <img src="assets/image3.jpg" alt="3">
      <img src="assets/image1.jpg" alt="1">
    </div>
  </div>
</div>

<!-- Componente de pie de página -->
<app-footer></app-footer>